extends ./layouts/main.pug

block content
  h1= title
  .container.head.navbar-default.navbar-fixed-top(style ="backgroung-color : #ffff")
    .col-sm-12
     ul.nav.nav-tabs
        li
          a(href='/welcome')
            i.glyphicon.glyphicon-home(style ="color : #00aced;") &nbsp;
              | Home
        li.active
          a(href='/profilechange')
            i.glyphicon.glyphicon-user(style ="color : #00aced;") &nbsp;
                | Profile

        li.navbar-right
          a(href='/logout')
            i.glyphicon.glyphicon-off(style ="color : #00aced;") &nbsp;
                  | Logout

  .container.head
    .page-canvas
      .signin-wrapper
        .row
          .col-md-12(style ="text-align : center")
            h3(style ="color : #00aced;") Edit your profile here !!!

  .container
    .form-horizontal.page-canvas
      .signin-wrapper
        .row(style = "margin : 20px 20px 20px 0px")
          .col-md-4
            each images in results
              img.thumbnail(src='./images/'+ images.image ,width ="200px" height="200px")

              form(method='post', enctype='multipart/form-data', action='/profilepictureupload')

                input(type='file', name='thumbnail' ,style = "margin : -5px 0px 10px 0px ;color : #00aced;", required)

                input(class="btn btn-info" type='submit',name="submit")

          .col-md-8
            each data in results
              form(method='post', action='/editprofile',class='form-horizontal')
                div(class='form-content' text-align="center")
                div(class='form-group')
                  div(class='col-sm-8')
                    input(type="text", name="username", class='form-control form-control-inline', value = data.username , required)
                div(class='form-group')
                  div(class='col-sm-8')
                    input(type="number", name="mobileno", class='form-control form-control-inline', value = data.mobilenumber, required)
                div(class='form-group')
                  div(class='col-sm-8')
                    input(type="text", name="email", class='form-control form-control-inline', value = data.email, required)
                div(class='form-group')
                  div(class='col-sm-8')
                    input(type="password", name="password", class='form-control form-control-inline', value = data.password, required)
                div(class='form-group')
                  div(class='col-sm-8')
                    input(type="password", name="confirmpassword", class='form-control form-control-inline' placeholder='new password')
                div(class="form-group")
                  .col-sm-8
                    button.btn.btn-info(type='submit') change profile




