extends ./layouts/main.pug

block content
  .container
    .container.head
      ul.nav.nav-tabs
        li
          a(href='#') Home
        li
          a(href='#') About us

    .container
      form.form-horizontal.page-canvas(action='/retrive_password', method='post')
        .signin-wrapper
          .form-group
            .col-sm-8
              h1= 'Log in to Twitter'
          .form-group
            .col-sm-5
              input#inputEmail3.form-control(type='text', name='email', placeholder='Enter your email')
          .action
            button.btn.btn-primary(align='left' type='submit') Retrive password
          //- .form-group
          //-   .col-sm-5
          //-     input#inputPassword3.form-control(type='password', name='pwd', placeholder='Password')
          //- .form-group
          //-   .col-sm-12
          //-     .col
          //-       button.btn.btn-primary(align='left' type='submit') Log in
          //-     .col-sm-7
          //-       .checkbox
          //-         label
          //-           input(type='checkbox' value='1' name='remember_me' checked='checked')
          //-           | Remember me
          //-           span.separator &nbsp;&middot;&nbsp;
          //-           a(href='#' rel='noopener') Forgot password?
