root: true
env:
  node: true
  es6: true
parserOptions:
  ecmaVersion: 8
  ecmaFeatures:
    experimentalObjectRestSpread: true
    jsx: true
  sourceType: module
plugins:
- react
extends:
  "airbnb-base"
globals:
  log: true
rules:
  react/jsx-no-bind:
  - error
  - allowArrowFunctions: true
    allowBind: false
    ignoreRefs: true
  react/no-did-update-set-state: error
  react/no-unknown-property: error
  react/no-unused-prop-types: error
  react/prop-types: error
  react/react-in-jsx-scope: error
  vars-on-top: 0
  # Warnings
  max-len: [1]
  # Errors
  quotes: [1, "single", { "avoidEscape": true, "allowTemplateLiterals": true }]
